:root {
  --primary-color: rgba(75, 107, 251, 1);
  --primary-hover-color: rgb(51 80 209);
  --secondary-color: rgba(75, 107, 251, 0.05);
  --primary-font-color: rgba(59, 60, 74, 1);
  --secondary-font-color: rgba(24, 26, 42, 1);
  --border-color: rgba(232, 232, 234, 1);
  --shadow-color: rgba(24, 26, 42, 0.12);
  --red-button-hover: rgb(197 2 2);
  --gray-bg-color: rgba(244, 244, 245, 1);
}

.display-none {
  display: none;
}

.display-visible-flex {
  display: flex;
}

.display-visible-block {
  display: block !important;
}

.display-visible-inline-block {
  display: inline-block;
}

body {
  height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  font-family: "Work Sans", sans-serif;
}

.web-logo {
  width: 110px;
  height: 36px;
}

img {
  height: 100%;
  width: 100%;
}

.navBar {
  height: 36px;
  max-width: 80%;
  margin: 32px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktop-menu-bar {
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.desktop-menu-bar-link {
  padding: 5px 10px;
  text-decoration: none;
  color: var(--primary-font-color);
  font-weight: 400;
  font-size: 16px;
}

.desktop-menu-bar-link:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  border-radius: 4px;
  color: white;
}

.on-click-desktop-menu-bar-link {
  background-color: var(--primary-color);
  border-radius: 4px;
  color: white;
}

.search-theme-profile {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 166px;
  height: 36px;
  background-color: var(--gray-bg-color);
  border-radius: 5px;
}

.search-bar > input {
  width: 114px;
  height: 20px;
  font-size: 14px;
  font-weight: 400;
  color: var(--primary-font-color);
  margin: 8px 16px;
  background-color: var(--gray-bg-color);
  border: none;
  outline: none;
}

.search-bar > .search-icon {
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.search-result {
  width: 166px;
  position: fixed;
  top: 70px;
  right: 15%;
  background-color: var(--secondary-font-color);
  color: white;
  border-radius: 5px;
  z-index: 1;
  overflow: hidden;
}

.search-result > p {
  margin: 0;
  padding: 8px 0;
  padding-left: 2px;
  width: 166px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.search-result > p:hover {
  background-color: var(--primary-hover-color);
  cursor: pointer;
}

.login-button {
  display: inline-block;
  margin: 0;
  padding: 5px 10px;
  color: white;
  background-color: var(--primary-color);
  border-radius: 4px;
  font-weight: 600;
  text-decoration: none;
}

.login-button:hover {
  background-color: var(--primary-hover-color);
  color: white;
}

.mobile-menu-icon {
  width: 36px;
  height: 36px;
  display: none;
  cursor: pointer;
}

.mobile-menu-bar {
  position: fixed;
  top: 70px;
  right: 5%;
  z-index: 1;
  width: 200px;
  overflow: hidden;
  flex-direction: column;
  background-color: var(--secondary-font-color);
  opacity: 1;
  border-radius: 5px;
}

.mobile-menu-bar-link {
  padding: 10px 0 10px 5px;
  text-decoration: none;
  color: white;
}

.mobile-menu-bar-link:hover {
  background-color: var(--primary-color);
}

.mobile-menu-bar-search {
  display: flex;
  align-items: center;
  width: 166px;
  height: 36px;
  background-color: var(--gray-bg-color);
  border-radius: 5px;
  margin: 10px 0 10px 5px;
}

.mobile-menu-bar-search > input {
  width: 114px;
  height: 20px;
  font-size: 14px;
  font-weight: 400;
  color: var(--primary-font-color);
  margin: 8px 16px;
  background-color: var(--gray-bg-color);
  border: none;
  outline: none;
}

.mobile-menu-bar-search > .search-icon {
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.mobile-menu-bar-login-button {
  display: none;
  margin: 10px auto;
  padding: 5px 10px;
  color: white;
  background-color: var(--primary-color);
  border-radius: 4px;
  font-weight: 600;
  text-decoration: none;
}

.mobile-menu-bar-login-button:hover {
  background-color: var(--primary-hover-color);
  color: white;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 28px;
}

.toggle input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--shadow-color);
  border-radius: 28px;
  transition: 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

.toggle input:checked + .slider {
  background-color: var(--primary-color);
}

.toggle input:checked + .slider::before {
  transform: translateX(20px);
}

.profile-icon {
  cursor: pointer;
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--primary-color);
  font-weight: 700;
  color: white;
  overflow: hidden;
}

.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.profile-bar {
  position: fixed;
  top: 70px;
  right: 10%;
  z-index: 1;
  flex-direction: column;
  width: 150px;
  overflow: hidden;
  align-items: center;
  background-color: var(--secondary-font-color);
  opacity: 1;
  border-radius: 5px;
}

.profile-bar-link {
  padding: 10px 0px;
  text-decoration: none;
  color: white;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.profile-bar-link:hover {
  background-color: var(--primary-color);
}

.logout-button {
  display: inline-block;
  margin: 10px auto;
  padding: 5px 10px;
  color: white;
  background-color: red;
  border-radius: 4px;
  font-weight: 600;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.logout-button:hover {
  background-color: var(--red-button-hover);
  color: white;
}

.footer {
  width: 100%;
  margin-top: 70px;
  background-color: var(--gray-bg-color);
  border-top: 1px solid var(--border-color);
}

.footer-nav {
  max-width: 80%;
  display: grid;
  grid-template-columns: 30% auto auto auto;
  column-gap: 30px;
  margin: 64px auto;
  padding: 0;
}

.footer-nav-title {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: var(--secondary-font-color);
  margin-bottom: 24px;
}

.about {
  margin-bottom: 12px;
}

.about-content {
  margin: 0 0 24px 0;
  padding: 0;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.email-address,
.phone-number {
  font-size: 16px;
  font-weight: 400;
  color: var(--secondary-font-color);
  margin: 0;
  padding: 0;
  display: block;
  margin-bottom: 5px;
}

.email,
.phone {
  font-weight: bold;
}

.quick-link-section > a,
.category-section > a {
  display: block;
  margin-bottom: 10px;
  padding: 0;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.quick-link-section > a:hover,
.category-section > a:hover,
.privacy-policy > a:hover {
  background-color: unset;
  color: unset;
}

.newsletter-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 254px;
  width: 100%;
  background-color: white;
  border-radius: 12px;
  text-align: center;
  padding: 32px;
}

.newsletter-card-title {
  margin-bottom: 10px;
}

.newsletter-card-tagline {
  margin-bottom: 30px;
  padding: 0 0 10px 0;
  margin: 0;
}

.newsletter-email-input {
  height: 4.8rem;
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.newsletter-email-input > input {
  width: 80%;
  height: 24px;
  border: none;
  outline: none;
  margin: 12px auto 12px 16px;
}

.email-icon {
  margin-right: 16px;
}

.newsletter-card > button {
  width: 100%;
  height: 4.8rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding: 0;
  margin: 0;
}

.footer-logo-section {
  margin: 0 auto;
  max-width: 80%;
  border-top: 1px solid var(--border-color);
}

.footer-logo-section-content {
  margin-top: 32px;
  padding: 0 0 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo-tagline > p {
  padding-left: 0;
  margin: 0;
  padding: 10px 0;
}

@media screen and (max-width: 767px) {
  .navBar {
    max-width: 90%;
  }

  .mobile-menu-icon {
    display: inline-block;
  }

  .desktop-menu-bar {
    display: none;
  }

  .search-bar {
    display: none;
  }

  .mobile-search-result {
    position: fixed;
    top: 274px;
    right: 5%;
    z-index: 1;
    width: 200px;
    overflow: hidden;
    background-color: var(--secondary-font-color);
    color: white;
    border-radius: 5px;
    border: 1px solid var(--border-color);
  }

  .mobile-search-result > p {
    margin: 0;
    padding: 8px 0;
    padding-left: 2px;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .mobile-search-result > p:hover {
    background-color: var(--primary-hover-color);
    cursor: pointer;
  }

  .slider {
    width: 45px;
  }

  .login-button {
    display: none;
  }

  .profile-bar {
    right: 5%;
  }

  .mobile-menu-bar-login-button {
    display: inline-block;
  }

  .footer {
    margin-top: 60px;
  }

  .footer-nav {
    max-width: 90%;
    grid-template-columns: none;
    grid-template-rows: auto;
    row-gap: 30px;
  }

  .about-content {
    margin-bottom: 10px;
  }

  .newsletter-card-tagline {
    margin-bottom: 5px;
  }

  .footer-logo-section {
    max-width: 90%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1341px) {
  .navBar {
    max-width: 90%;
  }

  .search-bar {
    display: none;
  }

  .mobile-search-result {
    position: fixed;
    top: 274px;
    right: 5%;
    z-index: 1;
    width: 200px;
    overflow: hidden;
    background-color: var(--secondary-font-color);
    color: white;
    border-radius: 5px;
    border: 1px solid var(--border-color);
  }

  .mobile-search-result > p {
    margin: 0;
    padding: 8px 0;
    padding-left: 2px;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .mobile-search-result > p:hover {
    background-color: var(--primary-hover-color);
    cursor: pointer;
  }

  .login-button {
    display: none;
  }

  .mobile-menu-icon {
    display: inline-block;
  }
  .desktop-menu-bar {
    display: none;
  }

  .profile-bar {
    right: 5%;
  }

  .mobile-menu-bar-login-button {
    display: inline-block;
  }
}
