/* Universal CSS */
.profile-pic {
  height: 36px;
  width: 36px;
  border-radius: 28px;
}
.user-name {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-font-color);
}
.published-date {
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-font-color);
}
p {
  display: inline-block;
  margin: 0;
  padding: 10px;
}
:root {
  --primary-color: rgba(75, 107, 251, 1);
  --secondary-color: rgba(75, 107, 251, 0.05);
  --primary-font-color: rgba(59, 60, 74, 1);
  --secondary-font-color: rgba(24, 26, 42, 1);
}

/* Body */
body {
  height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  font-family: "Work Sans", sans-serif;
}

/* Navigation Bar */
.logo {
  width: 158px;
  height: 36px;
  /* float: left; */
}

img {
  height: 100%;
  width: 100%;
}
.navBar {
  height: 36px;
  max-width: 1218px;
  margin: 32px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  /* width: 667px; */
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
}
a {
  padding: 5px 10px;
  text-decoration: none;
  color: rgba(59, 60, 74, 1);
  font-weight: 400;
  font-size: 16px;
}
a:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  border-radius: 10px;
  color: white;
}
.search-theme-profile {
  display: flex;
  align-items: center;
}
.search-bar {
  display: flex;
  align-items: center;
  width: 166px;
  height: 36px;
  background-color: rgba(244, 244, 245, 1);
  border-radius: 5px;
}
.search-bar > input {
  width: 114px;
  height: 20px;
  font-size: 14px;
  font-weight: 400;
  color: var(--primary-font-color);
  margin: 8px 16px;
  background-color: rgba(244, 244, 245, 1);
  border: none;
  outline: none;
}
.search-bar > .search-icon {
  height: 16px;
  width: 16px;
}

/* Toggle switch */
.toggle {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 28px;
  margin-left: 5px;
}

/* hide native checkbox */
.toggle input {
  display: none;
}

/* track */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 28px;
  transition: 0.3s;
}

/* knob */
.slider::before {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

/* when checked */
.toggle input:checked + .slider {
  background-color: var(--primary-color);
}

.toggle input:checked + .slider::before {
  transform: translateX(20px); /* 48 - 24 - 2*2 = 20 */
}

/* Register Button */
.search-theme-profile > a {
  margin: 0 10px;
  background-color: rgba(75, 107, 251, 0.5);
  border-radius: 10px;
  font-weight: 600;
}
.search-theme-profile > a:hover {
  background-color: rgba(75, 107, 251, 1);
  color: white;
}

/* Profile Logo */
.profile-logo {
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--primary-color);
  p {
    font-weight: 700;
  }
}

/* Hero Section */
.heroSection {
  margin: 0 auto;
  height: 600px;
  max-width: 1218px;
  position: relative;
  img {
    border-radius: 12px;
  }
}

/* Hero Section>> Card */
.hero-card {
  height: 304px;
  width: 598px;
  position: absolute;
  top: 360px;
  left: 64px;
  background-color: white;
  border: 1px solid rgba(232, 232, 234, 1);
  border-radius: 12px;
  padding: 40px;
  box-shadow: 0px 12px 24px -6px rgba(24, 26, 42, 0.12);
  /* need edit */
}
.hero-card-category {
  width: 97px;
  height: 28px;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 10px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 6px;
}
.hero-card-title {
  display: block;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  color: var(--secondary-font-color);
  margin-top: 16px;
  margin-bottom: 24px;
}
.card-profile {
  display: flex;
  align-items: center;
}

/* Latest Post section */
.latestPost {
  max-width: 1218px;
  margin: 0 auto;
}
.latest-post-title {
  display: block;
  margin-top: 250px;
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 700;
}
.card-grid {
  display: grid;
  grid: 488px 488px 488px / auto auto auto;
  gap: 20px;
}
.card-grid > .card {
  padding: 16px;
  background-color: white;
  border: 1px solid rgba(232, 232, 234, 1);
  border-radius: 12px;
}
.card-grid > .card > img {
  width: 100%;
  height: 50%;
  border-radius: 6px;
  margin-bottom: 24px;
}
.post-card-category {
  width: 97px;
  height: 28px;
  padding: 4px 10px;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 6px;
}
.post-card-title {
  display: block;
  margin-top: 16px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  color: var(--secondary-font-color);
}
.view-post-button {
  display: block;
  width: 142px;
  height: 48px;
  margin: 32px auto auto auto;
  padding: 12px 20px;
  border: 1px solid rgba(105, 106, 117, 0.3);
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-font-color);
  background-color: white;
  cursor: pointer;
}

/* Footer Section */
.footer {
  width: 100%;
  margin-top: 70px;
  background-color: rgba(246, 246, 247, 1);
  border-top: 1px solid rgba(232, 232, 234, 1);
}
.footer-nav {
  max-width: 1218px;
  display: grid;
  grid-template-columns: 280px 100px 90px 392px;
  column-gap: 116px;
  margin: 64px auto;
  padding: 0;
}
.footer-nav-title {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: var(--secondary-font-color);
  margin-bottom: 24px;
}
.about {
  margin-bottom: 12px;
}
.about-content {
  margin: 0 0 24px 0;
  padding: 0;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.email-address,
.phone-number {
  font-size: 16px;
  font-weight: 400;
  color: rgba(24, 26, 42, 1);
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-bottom: 5px;
}
.email,
.phone {
  font-weight: bold;
}
.quick-link-section > a,
.category-section > a {
  display: block;
  margin-bottom: 10px;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
}
.quick-link-section > a:hover,
.category-section > a:hover,
.privacy-policy > a:hover {
  background-color: unset;
  color: unset;
}
.newsletter-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 254px;
  background-color: white;
  border-radius: 12px;
  text-align: center;
  padding: 32px;
  p {
    padding: 0 0 10px 0;
  }
}
.newsletter-card-title {
  margin-bottom: 10px;
}
.newsletter-card-tagline {
  margin-bottom: 30px;
}
.newsletter-email-input {
  height: 48px;
  width: 320px;
  border: 1px solid rgba(220, 221, 223, 1);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.newsletter-email-input > input {
  width: 258px;
  height: 24px;
  border: none;
  outline: none;
  margin: 12px auto 12px 16px;
}
.email-icon {
  margin-right: 16px;
}
.newsletter-card > button {
  width: 321px;
  height: 48px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding: 0;
  margin: 0;
}
.footer-logo-section {
  margin: 0 auto;
  max-width: 1218px;
  border-top: 1px solid rgba(232, 232, 234, 1);
}
.footer-logo-section-content {
  margin-top: 32px;
  padding: 0 0 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logo-tagline > p {
  padding-left: 0;
}

.test {
  color: black;
}
