:root {
  --primary-color: rgba(75, 107, 251, 1);
  --secondary-color: rgba(75, 107, 251, 0.05);
  --primary-font-color: rgba(59, 60, 74, 1);
  --secondary-font-color: rgba(24, 26, 42, 1);
  --border-color: rgba(232, 232, 234, 1);
  --shadow-color: rgba(24, 26, 42, 0.12);
}

.user-name {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-font-color);
  margin: 0;
  padding: 10px;
}

.published-date {
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-font-color);
  margin: 0;
  padding: 10px;
}

.heroSection {
  margin: 0 auto;
  height: 600px;
  max-width: 80%;
  position: relative;
}
.hero-banner {
  border-radius: 12px;
}

.hero-card {
  height: 304px;
  width: 598px;
  position: absolute;
  top: 360px;
  left: 64px;
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  padding: 40px;
  box-shadow: 0px 12px 24px -6px var(--shadow-color);
  box-sizing: border-box;
  cursor: pointer;
}

.hero-card-category {
  width: 97px;
  height: 28px;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 10px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 6px;
}

.hero-card-title {
  display: block;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  color: var(--secondary-font-color);
  margin-top: 16px;
  margin-bottom: 16px;
}

.card-profile {
  display: flex;
  align-items: center;
}

.card-profile-pic,
.card-profile-text {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.card-profile-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.latestPost {
  max-width: 80%;
  margin: 0 auto;
}

.latest-post-title {
  display: block;
  margin-top: 250px;
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 700;
}

.card-grid {
  display: grid;
  grid: 488px 488px 488px / auto auto auto;
  gap: 20px;
}

.card-grid > .card {
  padding: 16px;
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  cursor: pointer;
}

.card-grid > .card > img {
  width: 100%;
  height: 50%;
  border-radius: 6px;
  margin-bottom: 24px;
}

.post-card-category {
  width: 97px;
  height: 28px;
  padding: 4px 10px;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 6px;
}

.post-card-title {
  display: block;
  margin-top: 16px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  color: var(--secondary-font-color);
}

.view-all-post-button {
  display: block;
  width: 142px;
  height: 48px;
  margin: 32px auto auto auto;
  padding: 12px 20px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-font-color);
  background-color: white;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .mobile-search-bar {
    margin: 20px auto;
    height: 40px;
    border: 1px solid;
    border-radius: 20px;
    padding: 10px 2px 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    box-sizing: border-box;
  }

  .mobile-search-input {
    padding: 0px;
    width: 100%;
    height: 100%;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    outline: none;
    border-left-width: 0px;
  }

  .heroSection {
    max-width: 90%;
    height: 220px;
  }

  .hero-card {
    width: 270px;
    height: 150px;
    padding: 10px;
    top: 130px;
    left: 25px;
  }

  .hero-card-category {
    font-size: 10px;
    font-weight: 400;
    padding: 2px 4px;
    border-radius: 4px;
  }

  .hero-card-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .user-name {
    font-size: 12px;
    font-weight: 500;
  }

  .published-date {
    font-size: 12px;
    font-weight: 400;
  }

  .latestPost {
    max-width: 90%;
    margin: 0 auto;
  }

  .latest-post-title {
    margin-top: 110px;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .card-grid {
    display: grid;
    grid-template-rows: none;
    grid-template-columns: 350px;
  }

  .card-grid > .card {
    padding-top: 19px;
    padding-left: 19px;
    padding-bottom: 10px;
    padding-right: 19px;
  }

  .card-grid > .card > img {
    height: 60%;
    margin-bottom: 10px;
  }

  .post-card-category {
    padding: 3px 5px;
    margin-bottom: 10px;
    font-size: 10px;
    border-radius: 4px;
  }

  .post-card-title {
    font-size: 14px;
    font-weight: 600;
    line-height: 15px;
    margin: 10px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1341px) {
  .heroSection {
    max-width: 90%;
    height: 400px;
  }

  .hero-card {
    width: 400px;
    height: 225px;
    padding: 20px;
    left: 55px;
    top: 280px;
  }

  .hero-card-category {
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 4px;
  }

  .hero-card-title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  .latestPost {
    max-width: 90%;
  }

  .latest-post-title {
    margin-top: 180px;
  }

  .card-grid {
    display: grid;
    grid: 488px 488px 488px / auto auto;
    gap: 45px;
  }

  .footer-nav {
    max-width: 90%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 30px;
  }

  .newsletter-card-tagline {
    margin-bottom: 5px;
  }

  .footer-logo-section {
    max-width: 90%;
  }
}
