/* My Profile */
.profile-detailes {
  text-align: center;
  margin-top: 20px;
}

.profile-detailes-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-image-upload {
  height: 100px;
  width: 100px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  opacity: 0.5;
  border: 1px solid gray;
  border-radius: 50%;
  cursor: pointer;
}

.user-name,
.user-email,
.old-password,
.new-password,
.confirm-password {
  margin: 10px auto;
  width: 40%;
  height: 30px;
  border-radius: 30px;
  box-shadow: 0 0 2px 2px blue;
  /* align-self: center; */
  display: flex;
  align-items: center;
  padding: 2px 10px;
}

.user-name > input,
.user-email > input,
.old-password > input,
.new-password > input,
.confirm-password > input {
  width: 100%;
  /* border-radius: 10px; */
  box-sizing: border-box;
  /* align-self: center; */
  border: none;
  outline: none;
}

.save-button > button {
  height: 40px;
  width: 80px;
  border-radius: 20px;
  background-color: blue;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border: 2px solid darkblue;
  cursor: pointer;
}

/* Create Post Button */
.post-upload-button {
  margin: 40px auto;
  background-color: blue;
  height: 40px;
  width: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2px solid darkblue;
}

.post-upload-button > a {
  text-decoration: none;

  color: white;
  font-size: 16px;
  font-weight: bold;
}
